body {
    background: linear-gradient(80deg, #c5c5c9, #6d63b9);
    align-items: center;
}

#container {
    text-align: center;
    margin: auto;
    background: white;
    width: 600px;
    height: 280px;
}


h1 {
 color: #6d63b9;
 text-align: center;
 padding-top: 20px;
}

#speed {
    width: 60px;
    height: 30px;
    font-size: 20px;
}

#time {
    width: 60px;
    height: 30px;
    font-size: 20px;
}

h2 {
    color: #6d63b9;
    text-align: center;
    font-size: 30px;
   }

button {
width: 80px;
height: 50px;
font-size: 20px;
border-radius: 15px;
color: white;
background-color: #c5c5c9;
border: none;

}
